*{
  box-sizing:border-box;
}

.post {
    padding: 20px 0;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}


img{
    margin-left: auto ; 
    margin-right: auto ; 
    display: block ; 
    width: 90% ;  
}

/* .row{
    color: white;
} */



.proimage {
    width: 300px;
    height: 300px;
}

.polaroid-images {
    background: white;
    display: inline;
    /* float: left; */
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
     position:relative;
    
}

.navbar {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
display: inline-block;
    text-align: center;
    background-color: initial ; 
}
    .navbar a:hover {
        background-color: transparent;
        color: white;
    }

    #bs-example-navbar-collapse-1 :hover {
        background-color: transparent;
        color: white;
    }
  


.navbar-brand {
    font-size: 45px;
    position: absolute; 
    /* width: 100px; */
    left: 15%;
    text-align: center;
}

.formFillOut {
    color: white;
}

.toggle-comments{
     border-radius: 24px;
     font-family: 'Raleway', Helvetica, Arial, sans-serif;
     color:white  ; 


}

.pet-form {
    display: none;
    position: relative;
}

.show{
    display: block;
}

.col-md-6{
    display:inline-block;
    text-align:center;
    margin-right: 25% ; 
    margin-left: 25% ;
    /* border-style: solid;
    border-color: blueviolet ; 
    border-radius: 2cm ;   */
}

h1{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color:blueviolet ; 
    font-weight: bold;
}

.col-lg-12{
    float: left ; 
}
.row btnRow{
    display:inline-block;
    text-align:center;
    margin-right: 25% ; 
    margin-left: 25% ;
}

.info-container{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color:blueviolet ; 
    text-align: center;
}

.order {
    display: table;
    width: 100%;
    text-align: center;

  }

  ul.order > li {
    display: table-cell;
    float: none ; 
  }

  #addpet{
      background: none ; 
      border: none ; 
  }

h2{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color:blueviolet ; 
    font-weight: bold;
}
.hide   {
    display: none;
}

.font{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 30px;
}